body,
html {
  width: 100%;
  height: 100%
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  background-color: #f8f8f8
}

#nav {
  padding: .4rem
}

#nav a {
  font-weight: 700;
  color: #2c3e50
}

#nav a.router-link-exact-active {
  color: #42b983
}

#app {
  position: static;
  margin: 0 auto;
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  touch-action: manipulation;
  -webkit-text-size-adjust: none;
  text-size-adjust: none
}

#app,
.page {
  
  max-width: 40rem;
  height: 100%;
  -webkit-overflow-scrolling: touch
}

.page {
  margin-left: auto;
  margin-right: auto;
  flex-basis: 100%;
  background: #efeff4
}

.page-warpper {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

.van-cell .van-field__label {
  text-align: left
}
