.page-warpper{
    padding: 15px;
    padding-top: 25px;
}
.page-warpper .nav img[data-v-9c8bf940] {
    height: 1.5rem;
    width: 1.5rem;
}
.btn-check[data-v-5057497d] {
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background: #b17e94;
    position: fixed;
    bottom: 40px;
    right: 15px;
    color: #fff;
}
.btn-txt[data-v-5057497d] {
    flex-direction: column;
    width: 66px;
    height: 66px;
    border-radius: 66px;
    border: 1px solid #fff;
    font-size: 15px;
}
.btn-check[data-v-5057497d] {
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background: #b17e94;
    position: fixed;
    bottom: 40px;
    right: 15px;
    color: #fff;
}
.flex-box[data-v-5057497d] {
    display: flex;
    justify-content: center;
    align-items: center;
}
.van-button--block{
    background-color: #b17e94 !important;
}

.imglogo{
   width: 110px; height: 110px;

}
.infos .info-item ,.infos .hint{
border-bottom: 1px solid #b17e94;
   
}
.van-image__img{
border-radius: 50%;
display: block;
width: 82%;
height: 82%;
transform: translateX(-5px);
}
@media (max-width: 800px){
      .imglogo{
   width: 100px; height: 100px;
} 
.page-warpper .List[data-v-4f9d3a8f] {
padding: 9px;
   
   
}
.bar {
    overflow: hidden;
    padding: 9px 12px;
    flex: 1;
}
.u-notice[data-v-74f4a138] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.u-notice__left-icon[data-v-74f4a138] {
    align-items: center;
    margin-right: 5px;
}
.u-icon--right[data-v-8aba839c] {
    flex-direction: row;
    align-items: center;
}
.u-icon[data-v-8aba839c] {
    display: flex;
    align-items: center;
}
.u-icon__icon[data-v-8aba839c] {
    font-family: uicon-iconfont;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.u-notice__content[data-v-74f4a138] {
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}
.u-notice__content__text[data-v-74f4a138] {
    font-size: 14px;
    color: #f9ae3d;
    padding-left: 100%;
    word-break: keep-all;
    white-space: nowrap;
    -webkit-animation: u-loop-animation-data-v-74f4a138 10s linear infinite both;
    animation: u-loop-animation-data-v-74f4a138 10s linear infinite both;
}
.anony-and-count[data-v-9c8bf940] {
    font-size: 12px;
    justify-content: space-between;
    color: #b17e94;
}
.anony-and-count[data-v-9c8bf940]:after {
    border: none;
}

.radio-group[data-v-7bb1b747] {
    margin-top: 10px;
}
.u-radio-group--row[data-v-b69d373c] {
    display: flex;
    flex-direction: row;
}
.u-radio-group[data-v-b69d373c] {
    flex: 1;
}
.u-radio[data-v-504d5d07] {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
}
.u-radio__icon-wrap {
    width: 14px!important;
    height: 14px!important;
}
.u-radio__icon-wrap--circle[data-v-504d5d07] {
        border-radius: 100%;
    }

.u-radio__icon-wrap[data-v-504d5d07] {
    box-sizing: border-box;
    transition-property: border-color,background-color,color;
    transition-duration: .2s;
    color: #606266;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: transparent;
    text-align: center;
    margin-right: 6px;
    font-size: 20px;
    border-width: 1px;
    border-color: #c8c9cc;
    border-style: solid;
}
.btn-index{
    margin-top: 30%;
}
.btn-submit{
    background: #b17e94;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    width: 65%;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}
.btn-write{
    margin-top: 20%;
}